html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden
}

@import "tailwindcss";

@theme {

    /* Moje definicje breakpointów */
    --breakpoint-xs: 50rem;     /* Nowy breakpoint 800px */
    --breakpoint-sm: 56.25rem;     /* Nowy breakpoint 900px do ustalenia */
    --breakpoint-2sm: 58.8rem;     /* Nowy breakpoint 940px */
    --breakpoint-3sm: 65.5rem;     /* Nowy breakpoint 1048px */
    --breakpoint-4sm: 76rem;     /* Nowy breakpoint xs 1216px */
    --breakpoint-lg: 81rem;     /* Nowy breakpoint xs 1296px */
    --breakpoint-2lg: 84.1rem;     /* Nowy breakpoint xs 1345.6px */
    --breakpoint-3lg: 90.6rem;     /* Nowy breakpoint xs 1450px */
    --breakpoint-4lg: 91.81rem;     /* Nowy breakpoint xs 1468.96px */
    --breakpoint-xl: 94rem;     /* Nadpisanie domyślnego xl 1504px */
    --breakpoint-2xl: 97.6rem;   /* Nadpisanie domyślnego 2xl 1561.6px */
    --breakpoint-3xl: 103rem;  /* 1648px */
}

:root {
  --gallery-base-size: 9rem;
  --gallery-hover-size: 18rem;
  --small-img-size: 64px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.responsive-padding {
  padding: 1rem;  /* Tailwind p-4 */
} 

.text-big-font {
  font-size: 1.063rem; /* Tailwind text-[17px] */
}

.text-big-margin {
  margin-bottom: 0.5rem; /* Tailwind mb-2 */
}

.description-font {
  font-size: 0.813rem; /* Tailwind text-[13px] */
}

.gallery-margin {
  margin-left: 1rem; /* Tailwind ml-4 */
  margin-bottom: 1.25rem; /* Tailwind mb-5 */
}

.gallery-description-font {
  font-size: 1.125rem; /* Tailwind text-lg */
}

.gallery-content-height {
  height: 9rem; /* Tailwind h-36 */
}

/* Media queries dodane na końcu globals.css */
@media (max-height: 770px) {
  .mb-64 {
    margin-bottom: 14rem; /* Tailwind spacing 56 */
  }
  .mt-64 {
    margin-top: 14rem; /* Tailwind spacing 56 */
  }
  .responsive-padding {
    padding-block: 0.5rem;  /* Tailwind p-2 */
  }
  .text-big-font {
    font-size: 1rem; /* Tailwind text-base */
  }
  .text-big-margin {
    margin-bottom: 0.25rem; /* Tailwind mb-1 */
  }
  .description-font {
    font-size: 0.813rem; /* Tailwind text-[13px] */
  }
  .gallery-margin {
    margin-left: 2rem; /* Tailwind ml-8 */
  }
  .gallery-description-font {
    font-size: 1rem; /* Tailwind text-base */
  }
  .gallery-content-height {
    height: 8rem; /* Tailwind h-32 */
  }
  :root {
    --gallery-base-size: 8rem;
    --gallery-hover-size: 16rem;
  }
}

@media (max-height: 650px) {
  .text-big-font {
    font-size: 0.875rem; /* Tailwind text-sm */
  }
  .text-big-margin {
    margin-bottom: 0.125rem; /* Tailwind mb-[2px] */
  }
  .text-small-margin {
    margin-bottom: 0.25rem; /* Tailwind mb-1 */
  }
  .responsive-padding {
    padding: 0.25rem;  /* Tailwind p-1 */
  }
  .mb-64 {
    margin-bottom: 12rem; /* Tailwind spacing 48 */
  }
  .mt-64 {
    margin-top: 12rem; /* Tailwind spacing 48 */
  }
  .mt-2 {
    margin-top: 0.25rem; /* Tailwind spacing 1 */
  }
  .description-font {
    font-size: 0.75rem; /* Tailwind text-xs */
  }
  .header-margin {
    margin: 1rem; /* Tailwind m-4 */
  }
  .img-header-size {
    width: 150px;
    height: 150px; 
  }
  .img-header-margin {
    margin-right: 2rem; /* Tailwind mr-8 */
  }
  .title-header-font {
    font-size: 2.5rem; /* Tailwind text-[40px] */
  }
  .caption-big-font-650 {
    font-size: 0.688rem; /* Tailwind text-[10px] */
  }
  .gallery-content-height {
    height: 7rem; /* Tailwind h-28 */
  }
  :root {
    --gallery-base-size: 7rem;
    --gallery-hover-size: 14rem;
  }
}

@media (max-height: 626px) {
  .description-font {
    font-size: 0.688rem; /* Tailwind text-[11px] */
  }
}

@media (max-height: 570px) {
  .mb-64 {
    margin-bottom: 12rem; /* Tailwind spacing 44 */
  }
  .mt-64 {
    margin-top: 12rem; /* Tailwind spacing 44 */
  }
  .description-font {
    font-size: 0.625rem; /* Tailwind text-[10px] */
  }
  .title-header-padding {
    padding-bottom: 0.5rem; /* Tailwind pb-2 */
  }
  .subtitle-header-font {
    font-size: 1.35rem; /* Tailwind  */
  }
  .gallery-margin {
    margin-bottom: 0.5rem; /* Tailwind mb-2 */
  }
  .gallery-description-font {
    font-size: 0.875rem; /* Tailwind text-sm */
  }  
}

@media (max-height: 550px) and (max-width: 1100px) {
  .img-header-size {
    width: 120px;
    height: 120px; 
  }
  .img-header-margin {
    margin-right: 0rem; /* Tailwind mr-8 */
  }
  .title-header-font {
    font-size: 2rem; /* Tailwind text-[32px] */
  }
  .subtitle-header-font {
    font-size: 1.05rem; /* Tailwind  */
  }
  .gallery-description-font {
    font-size: 0.688rem; /* Tailwind text-[11px] */
  }  
  .gallery-content-height {
    height: 6rem; /* Tailwind h-24 */
  }
  :root {
    --gallery-base-size: 6rem;
    --gallery-hover-size: 12rem;
  }
}

@media (min-height: 569px) and (max-height: 625px) and (min-width: 980px) and (max-width: 1100px) {
  .header-margin {
    margin: 0.75rem; /* Tailwind m-3 */
  }
  .img-header-size {
    width: 140px;
    height: 140px; 
  }
  .img-header-margin {
    margin-right: 0.25rem; /* Tailwind mr-1 */
  }
  .title-header-padding {
    padding-bottom: 0.5rem; /* Tailwind pb-2 */
  }
  .subtitle-header-font {
    font-size: 1.25rem; /* Tailwind text-xl */
  }
  .description-font {
    font-size: 0.625rem; /* Tailwind text-[10px] */
  }
  .gallery-description-font {
    font-size: 0.75rem; /* Tailwind text-xm */
  }
  .gallery-content-height {
    height: 6rem; /* Tailwind h-24 */
  }  
  :root {
    --gallery-base-size: 6rem;
    --gallery-hover-size: 12rem;
  }
}

/* Dodane specyficzne media queries dla rozdzielczości 1280x1024 */
@media (min-width: 1260px) and (max-width: 1300px) and (min-height: 1000px) and (max-height: 1050px) {
  .img-header-size {
    width: 180px;
    height: 180px;
  }
  .img-header-margin {
    margin-right: 0.5rem; /* np. Tailwind mr-2 */
  }
  .gallery-description-font {
    font-size: 0.875rem; /* np. Tailwind text-sm */
  }
  .gallery-content-height {
    height: 7rem; /* odpowiada Tailwind h-28 */
  }
  :root {
    --gallery-base-size: 7rem;
    --gallery-hover-size: 14rem;
  }
}

@media (min-height: 850px) and (max-height: 1060px) and (min-width: 1380px) and (max-width: 1420px) {
  .gallery-content-height {
    height: 8rem; /* Tailwind h-32 */
  }
  :root {
    --gallery-base-size: 8rem;
    --gallery-hover-size: 16rem;
  }
}

/* Style dla wyświetlania komunikatu obracania ekranu */
.landscape-content {
  display: block;
}
.portrait-warning {
  display: none;
}

@media only screen and (orientation: portrait) and (max-width: 768px) {
  .landscape-content {
    display: none;
  }
  .portrait-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: #000;
    color: #fff;
    z-index: 9999;
  }
}

@media only screen and (orientation: landscape) and (max-width: 940px) and (max-height: 520px) {
  .header-margin {
    margin: 0.35rem; /* Tailwind m-2 */
  }
  .img-header-size {
    width: 100px;
    height: 100px; 
  }
  .title-header-font {
    font-size: 1.5rem; /* Tailwind text-2xl */
  }
  .title-header-padding {
    padding: 0.5rem; /* Tailwind pb-2 */
  }
  .subtitle-header-font {
    font-size: 0.875rem; /* Tailwind text-sm */
  }
  .mb-64 {
    margin-bottom: 8rem; /* Tailwind spacing 44 */
  }
  .mt-64 {
    margin-top: 8rem; /* Tailwind spacing 44 */
  }
  .responsive-padding {
    padding-inline: 0rem;
    padding-block: 0.125rem;  /* Tailwind p-1 */
  }
  .text-big-margin {
    margin-bottom: 0rem;
  }
  .gallery-margin {
    margin-left: 0.875rem; /* Tailwind ml-3.5 */
  }
  .gallery-description-font {
    font-size: 0.531rem; /* 8.496px*/
  }
  .gallery-content-height {
    height: 4rem; /* Tailwind h-16 */
  }
  :root {
    --gallery-base-size: 4rem;
    --gallery-hover-size: 8rem;
    --small-img-size: 32px;
  }  
}
  